
* {
	margin-top : 5px;
	front-family: sans-serif;
}

#setting {
	display: block;
	text-align: center;
}

#canvas {
	border: 0px solid darkred;
	background: #6bfab7;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
