<!doctype html>
<head>
<title>Python Flask Image Upload and Display Example</title>
<h2>MNIST Number Classification </h2>
<h3>1. Select an image to upload </h3>
<h3>2. Draw a number on the pad below </h3>

<h4> 1. select an image to upload </h4>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if filename %}
	<div>
        <!-- <img src="/static/img_1.jpg"> -->
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</head>
